Click==7.0
console-log==0.2.10
console-logging==0.0.5.0
fastecdsa==1.7.3
Flask==1.0.2
Flask-Cors==3.0.7
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pkg-resources==0.0.0
six==1.12.0
termcolor==1.1.0
Werkzeug==0.15.3
wsgigzip==0.1.4
